#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export LDFLAGS=-Wl,-z,defs,--as-needed

build: build-stamp
build-stamp:
	dh --with quilt build
	touch $@

install: install-stamp
install-stamp:
	dh install
	find $(CURDIR) -name "dir.gz" -delete
	touch $@

clean:
	dh --with quilt $@

binary-indep:

binary-arch: build install
	dh $@

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install 
